@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="custom-bg">
    <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
        <div class="text-center">
            <h1 class="display-1 fw-bold">OUPS!</h1>
            <p class="fs-2 fw-medium mt-4">Un problème est survenu</p>
            <a href="/" class="btn btn-light fw-semibold rounded-pill px-4 py-2 custom-btn">
                retour à l'acceuil
            </a>
        </div>
    </div>
</div>
