@model UtilisateursCreateViewModel

@{
    ViewData["Title"] = "Créer votre compte - Vue utilisateur";
}

<h1>@ViewData["Title"]</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Pseudonyme" class="control-label"></label>
                <input asp-for="Pseudonyme" class="form-control" />
                <span asp-validation-for="Pseudonyme" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Courriel" class="control-label"></label>
                <input asp-for="Courriel" class="form-control" />
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MotDePasseNouveau" class="control-label"></label>
                <input asp-for="MotDePasseNouveau" class="form-control" />
                <span asp-validation-for="MotDePasseNouveau" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MotDePasseConfirmation" class="control-label"></label>
                <input asp-for="MotDePasseConfirmation" class="form-control" />
                <span asp-validation-for="MotDePasseConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retournez à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
