@model UtilisateursEditPasswordViewModel

@{
    ViewData["Title"] = "Modifier votre mot de passe - Vue utilisateur";
}

<h1>@ViewData["Title"]</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="MotDePasseActuel" class="control-label"></label>
                <input asp-for="MotDePasseActuel" class="form-control" id="MotDePasseActuel" />
                <span asp-validation-for="MotDePasseActuel" class="text-danger"></span>
                <br/>
                <label for="afficherMdpActuel" class="control-label">Afficher le mot de passe actuel</label>
                <input type="checkbox" name="afficherMdpActuel" id="afficherMdpActuel" class="form-check" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="MotDePasseNouveau" class="control-label" ></label>
                <input asp-for="MotDePasseNouveau" class="form-control" id="MotDePasseNouveau" />
                <span asp-validation-for="MotDePasseNouveau" class="text-danger"></span>
                <br />
                <label for="afficherMdpNouveau" class="control-label">Afficher le nouveau mot de passe</label>
                <input type="checkbox" name="afficherMdpNouveau" id="afficherMdpNouveau" class="form-check" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="MotDePasseConfirmation" class="control-label"></label>
                <input asp-for="MotDePasseConfirmation" class="form-control" id="MotDePasseConfirmation" />
                <span asp-validation-for="MotDePasseConfirmation" class="text-danger"></span>
                <br />
                <label for="afficherMdpConfirmation" class="control-label">Afficher le mot de passe de confirmaiton</label>
                <input type="checkbox" name="afficherMdpConfirmation" id="afficherMdpConfirmation" class="form-check" />
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Modifier" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <a asp-action="Index">Retournez à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        let afficherMdpActuel = document.querySelector("#afficherMdpActuel").addEventListener('change',onToggleMdpActuel)
        let mdpActuel = document.querySelector("#MotDePasseActuel")

        let afficherMdp = document.querySelector("#afficherMdpNouveau").addEventListener('change',onToggleMdpNouveau)
        let mdpNouveau = document.querySelector("#MotDePasseNouveau")

         let afficherMdpConfirmation = document.querySelector("#afficherMdpConfirmation").addEventListener('change',onToggleMdpConfirm)
         let mdpConfirmation = document.querySelector("#MotDePasseConfirmation")

        

          function onToggleMdpActuel(){
              mdpActuel.type = this.checked ? "text": "password";
          }

          function onToggleMdpNouveau(){
              mdpNouveau.type = this.checked ? "text": "password";
          }

          function onToggleMdpConfirm(){
              mdpConfirmation.type = this.checked ? "text": "password";
          }
    </script>

}
