@model UtilisateursEditPasswordViewModel

@{
    ViewData["Title"] = "Modifier votre mot de passe - Vue utilisateur";
}

<h1>@ViewData["Title"]</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="MotDePasseActuel" class="control-label"></label>
                <input asp-for="MotDePasseActuel" class="form-control" />
                <span asp-validation-for="MotDePasseActuel" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MotDePasseNouveau" class="control-label"></label>
                <input asp-for="MotDePasseNouveau" class="form-control" />
                <span asp-validation-for="MotDePasseNouveau" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MotDePasseConfirmation" class="control-label"></label>
                <input asp-for="MotDePasseConfirmation" class="form-control" />
                <span asp-validation-for="MotDePasseConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Modifier" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retournez à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
